<!DOCTYPE html>
<html>
<head>
	<title>Поезда</title>
</head>
<body>
<table>
	<thead>
	<tr>Номер</tr>
	</thead>

<tbody>
<%= render @trains %>
</tbody>
</table>

<br>
<%= link_to 'Добавить', new_admin_train_path %>
<%= link_to 'На главную', root_path %>

</body>
</html>